package ${basePackage}.base;

import ${basePackage}.config.Config;
import ${basePackage}.data.Api;
import ${basePackage}.data.Scenario;
import ${basePackage}.data.TestConfig;
import com.fasterxml.jackson.databind.ObjectMapper;
import io.restassured.RestAssured;
import io.restassured.http.ContentType;
import io.restassured.http.Method;
import io.restassured.response.Response;
import io.restassured.specification.RequestSpecification;
import lombok.Data;
import lombok.extern.slf4j.Slf4j;
import org.apache.commons.io.IOUtils;
import org.json.JSONObject;
import org.skyscreamer.jsonassert.JSONAssert;

import java.nio.charset.StandardCharsets;
import java.util.HashMap;
import java.util.Map;
import java.util.Optional;

import static org.hamcrest.CoreMatchers.*;
import static org.hamcrest.MatcherAssert.assertThat;

/**
 * DO NOT CHANGE THIS FILE or IT WILL GET OVERRIDDEN
 */

@Data
@Slf4j
public abstract class BaseStepdefs {

    public static final String CONTENT_TYPE = "Content-Type";
    private final Map<String, String> pathParams = new HashMap<>();
    private final Map<String, String> queryParams = new HashMap<>();
    private final Map<String, String> headers = new HashMap<>();
    private String env;
    private Response response;
    private RequestSpecification requestSpecification;
    private String apiName;
    private String groupName;
    private int scenarioNumber;
    private String scenarioDescription;
    private String protocol;
    private String host;
    private int port;
    private String contextPath = "";
    private Method requestMethod;
    private ContentType contentType;
    private String produces;
    private String requestBody;
    private Boolean hasRequestBody;
    private Boolean hasResponseBody;
    private String sqlScript;

    protected final void init() {
        this.env = System.getProperty("env");
        if (this.env == null || this.env.trim().length() == 0) {
            this.env= "dev";
            log.warn("No env provided, using default as \"dev\". eg. -Denv=staging");
            //throw new RuntimeException("Environment name not provided as paramater. eg. -Denv=dev");
        }
    }

    protected final void thenVerifyResponseCode(int code) {
        assertThat(getResponse().getStatusCode(), is(code));
    }

    protected final void thenVerifyResponseContentType(String produces) {
        assertThat(getResponse().getContentType(), containsString(produces));
    }

    protected final void thenVerifyResponseBody() {
        try {
            if (getHasResponseBody()) {
                String expectedResponse = IOUtils.resourceToString("/config/response/" + getApiName() + getScenarioNumber() + ".json", StandardCharsets.UTF_8);
                JSONAssert.assertEquals(expectedResponse, response.asString(), false);
                //FIXME Add funtionality to ignore fields when comparing
            }
        } catch (Exception e) {
            throw new RuntimeException(e);
        }
    }

    protected String readAndSetRequestBodyFromFile() {
        if (getHasRequestBody()) {
            String requestBody;
            try {
                requestBody = IOUtils.resourceToString("/config/request/" + getApiName() + getScenarioNumber() + ".json", StandardCharsets.UTF_8);
                setRequestBody(requestBody);
                return requestBody;
            } catch (Exception e) {
                throw new RuntimeException(e);
            }
        }
        return null;
    }

    protected final void thenVerifyPartOfResponse(JSONObject jsonObject) {
        try {
            String expectedResponse = IOUtils.resourceToString("/config/response/" + getApiName() + getScenarioNumber() + ".json", StandardCharsets.UTF_8);
            JSONAssert.assertEquals(expectedResponse, jsonObject.toString(), false);
        } catch (Exception e) {
            throw new RuntimeException(e);
        }
    }

    protected void isUpAndRunning(String apiName) {

        String protocol = Config.getConfig(getEnv()).getProperty(apiName + ".protocol");
        String host = Config.getConfig(getEnv()).getProperty(apiName + ".host");
        String port = Config.getConfig(getEnv()).getProperty(apiName + ".port");

        setApiName(apiName);
        setProtocol(protocol);
        setHost(host);
        setPort(Integer.parseInt(port));
    }

    protected void isUpAndRunningAtOnPortOverProtocol(String apiName, String host, int port, String protocol){
        setApiName(apiName);
        setProtocol(protocol);
        setHost(host);
        setPort(port);
    }

    public void iPrepareScenarioNumberInGroup(int scenarioNumebr, String groupName) {
        setScenarioNumber(scenarioNumebr);
        setGroupName(groupName);
    }

    public void requestHasHeaderWithNameAndValue(String headerName, String headerValue) {
        getHeaders().put(headerName, headerValue);
    }

    public void pathParamHasValue(String pathParamName, String pathParamValue) {
        getPathParams().put(pathParamName, pathParamValue);
    }

    public void hasAQueryParamWithNameAndValue(String queryParamName, String queryParamValue) {
        getQueryParams().put(queryParamName, queryParamValue);
    }

    public void endpointConsumes(String consumes) {
        setContentType(ContentType.fromContentType(consumes));
    }

    public void endpointProduces(String produces) {
        setProduces(produces);
    }

    public void iMakeARequestToPath(String requestMethod, String contextPath) throws Throwable {
        setContextPath(contextPath);
        setRequestMethod(Method.valueOf(requestMethod));

        ObjectMapper objectMapper = new ObjectMapper();

        String testCasesStr = IOUtils.resourceToString("/config/test-config.json", StandardCharsets.UTF_8);
        TestConfig apiTestConfig = objectMapper.readValue(testCasesStr, TestConfig.class);

        if (apiTestConfig.containsKey(getApiName())) {
            Api api = apiTestConfig.get(getApiName());

            Optional<Scenario> optionalScenario = api.getScenarios().stream()
                    .filter(scenario -> scenario.getScenarioNumber() == getScenarioNumber())
                    .findFirst();

            Scenario scenario = optionalScenario.orElseThrow(() -> new RuntimeException("Invalid Scenario Number : " + getApiName() + " " + getScenarioNumber()));
            setScenarioDescription(scenario.getDescription());

            setHasRequestBody(scenario.getHasRequestBody());
            setHasResponseBody(scenario.getHasResponseBody());

        } else {
            throw new RuntimeException("Invalid Api name : " + getApiName());
        }


        assertThat(getApiName(), is(notNullValue()));
        assertThat(getProtocol(), is(notNullValue()));
        assertThat(getHost(), is(notNullValue()));
        assertThat(getPort(), is(notNullValue()));
        assertThat(getContentType(), is(notNullValue()));

        RestAssured.baseURI = getProtocol() + "://" + getHost() + ":" + getPort();
        RestAssured.useRelaxedHTTPSValidation();
        setRequestSpecification(RestAssured.given());
        getHeaders().put(CONTENT_TYPE, getContentType().toString());

        getRequestSpecification().headers(getHeaders());
        getRequestSpecification().pathParams(getPathParams());
        getRequestSpecification().queryParams(getQueryParams());

        getRequestSpecification().log().all();

        log.info("******************Scenario " + getScenarioNumber() + "************************************");
        log.info("URL : " + getRequestMethod() + " " + getProtocol() + "://" + getHost() + ":" + getPort() + getContextPath());
        log.info("Request Body: " + getRequestBody());
        log.info("Path Params : " + getPathParams());
        log.info("Query Params : " + getQueryParams());
        log.info("Headers : " + getHeaders());
        log.info("*****************************************************************************************");

        switch (getRequestMethod()) {
            case GET:
                assertThat("GET request cannot have request body!", getRequestBody(), is(nullValue()));
                setResponse(getRequestSpecification().get(getContextPath()));
                break;
            case POST:
                if (getHasRequestBody()) {
                    getRequestSpecification().body(readAndSetRequestBodyFromFile());
                }
                setResponse(getRequestSpecification().post(getContextPath()));
                break;
            case DELETE:
                if (getHasRequestBody()) {
                    getRequestSpecification().body(readAndSetRequestBodyFromFile());
                }
                setResponse(getRequestSpecification().delete(getContextPath()));
                break;
            case PUT:
                if (getHasRequestBody()) {
                    getRequestSpecification().body(readAndSetRequestBodyFromFile());
                }
                setResponse(getRequestSpecification().put(getContextPath()));
                break;
            default:
                throw new RuntimeException("Method not implemented : " + getRequestMethod());
        }

        log.info("*****************************************************************************************");
        log.info("Response Status: " + getResponse().getStatusLine());
        log.info("Response : " + getResponse().asPrettyString());
        log.info("*****************************************************************************************");
    }

    public void iShouldGetAResponseWithHttpStatusCode(int responseStatus) {
        thenVerifyResponseCode(responseStatus);
        thenVerifyResponseBody();
        thenVerifyResponseContentType(getProduces());
    }
}
