#set( $underscore = "_" )
#Don't change this  file directly or it will get OVERRIDEN
Feature: $api.description - $scenario.description

#if($scenario.ignore)
  @Ignore
#end
#foreach ($groupName in $scenario.groupNames)
  @$groupName
#end
  @$apiName
  @$apiName$underscore$scenario.scenarioNumber
  Scenario: $scenario.description $scenario.scenarioNumber
    Given "$apiName" is up and running
    And I prepare scenario number "$scenario.scenarioNumber" in group "$scenario.groupName"
#foreach ($mapEntry in $scenario.headers.entrySet())
    And request has header with name "$mapEntry.key" and value "$mapEntry.value"
#end
#foreach ($mapEntry in $scenario.pathParams.entrySet())
    And path param "$mapEntry.key" has value "$mapEntry.value"
#end
#foreach ($mapEntry in $scenario.queryParams.entrySet())
    And has a query param with name "$mapEntry.key" and value "$mapEntry.value"
#end
#if($scenario.hasRequestBody)
    And endpoint consumes "$scenario.consumes"
#end
#if($scenario.hasResponseBody)
    And endpoint produces "$scenario.produces"
#end
    When I make a "$scenario.requestMethod" request to path "$scenario.contextPath"
    Then I should get a response with http status code "$scenario.responseStatus"
#if($scenario.hasResponseBody)
    And I should get a response body
#end
