# Created : ${createTimestamp}
Feature: $api.description - $scenario.description $scenario.scenarioNumber

#set( $underscore = "_" )




@$apiName
@$scenario.groupName
@$apiName$underscore$scenario.scenarioNumber
Scenario: $scenario.description $scenario.scenarioNumber
Given "$apiName" is up and running
And I prepare scenario number "$scenario.scenarioNumber" in group "$scenario.groupName"
#foreach ($mapEntry in $scenario.headers.entrySet())
And request has header with name "$mapEntry.key" and value "$mapEntry.value"
#end
#foreach ($mapEntry in $scenario.pathParams.entrySet())
And path param "$mapEntry.key" has value "$mapEntry.value"
#end
#foreach ($mapEntry in $scenario.queryParams.entrySet())
And has a query param with name "$mapEntry.key" and value "$mapEntry.value"
#end
And endpoint consumes "$scenario.consumes"
And endpoint produces "$scenario.produces"
When I make a "$scenario.requestMethod" request to path "$scenario.contextPath"
Then I should get a response with http status code "$scenario.responseStatus"
