package ${basePackage}.stepdefs;

import ${basePackage}.stepdefs.api.${capitalizedApiName}Stepdefs;

/**
 * Created : ${createTimestamp}
 *
 * You can place your custom code inside the methods and it wil not get overridden.
 * DO NOT CHANGE THE NAME OF THE METHODS, IMPLEMENTATION ONLY
 */

public class ${capitalizedApiName}${scenarioNumber}Stepdefs extends ${capitalizedApiName}Stepdefs {

    protected void scenarioBeforeInit(){}
    protected void scenarioAfterInit() {}
    protected void scenarioAfterIsUpAndRunning() {}
    protected void scenarioBeforeIsUpAndRunning() {}
    protected void scenarioAfterIPrepareScenarioNumberInGroup() {}
    protected void scenarioBeforeIPrepareScenarioNumberInGroup() {}
    protected void scenarioAfterRequestHasHeaderWithNameAndValue() {}
    protected void scenarioBeforeRequestHasHeaderWithNameAndValue() {}
    protected void scenarioAfterPathParamHasValue() {}
    protected void scenarioBeforePathParamHasValue() {}
    protected void scenarioAfterHasAQueryParamWithNameAndValue() {}
    protected void scenarioBeforeHasAQueryParamWithNameAndValue() {}
    protected void scenarioAfterEndpointConsumes() {}
    protected void scenarioBeforeEndpointConsumes() {}
    protected void scenarioAfterEndpointProduces() {}
    protected void scenarioBeforeEndpointProduces() {}
    protected void scenarioBeforeIMakeARequestToPath() {}
    protected void scenarioAfterIMakeARequestToPath() {}
    protected void scenarioAfterIShouldGetAResponseWithHttpStatusCode() {}
    protected void scenarioBeforeIShouldGetAResponseWithHttpStatusCode() {}
    protected void scenarioBeforeIShouldGetAResponseBody() {}
    protected void scenarioAfterIShouldGetAResponseBody() {}
}
