package ${basePackage}.base;

import com.fasterxml.jackson.databind.ObjectMapper;
import com.cooldatasoft.testing.config.Config;
import com.cooldatasoft.testing.data.Api;
import com.cooldatasoft.testing.data.InputJson;
import com.cooldatasoft.testing.data.Scenario;
import io.restassured.RestAssured;
import io.restassured.http.ContentType;
import io.restassured.http.Method;
import io.restassured.response.Response;
import io.restassured.specification.RequestSpecification;
import lombok.Data;
import lombok.extern.slf4j.Slf4j;
import org.apache.commons.io.IOUtils;
import org.apache.commons.lang3.StringUtils;
import org.skyscreamer.jsonassert.JSONAssert;

import java.io.File;
import java.nio.charset.StandardCharsets;
import java.util.HashMap;
import java.util.Map;
import java.util.Optional;

import static org.hamcrest.CoreMatchers.*;
import static org.hamcrest.MatcherAssert.assertThat;
import static org.junit.Assert.assertNotNull;
import static org.junit.Assert.assertTrue;

/**
 *
 * DO NOT CHANGE THIS FILE or IT WILL GET OVERRIDDEN
 */

@Data
@Slf4j
public abstract class BaseStepdefs {

    public static final String CONTENT_TYPE = "Content-Type";
    private final Map<String, String> pathParams = new HashMap<>();
    private final Map<String, String> queryParams = new HashMap<>();
    private final Map<String, String> headers = new HashMap<>();
    private String env;
    private Response response;
    private RequestSpecification requestSpecification;
    private String apiName;
    private String groupName;
    private int scenarioNumber;
    private String scenarioDescription;
    private String protocol;
    private String host;
    private int port;
    private String contextPath = "";
    private Method requestMethod;
    private String contentType;
    private String produces;
    //request body
    private String requestBody;
    //Expected response body
    private String responseBody;
    private HashMap<String, String> formDataMap;
    private HashMap<String, File> formDataFileMap;

    protected final void init() {
        this.env = System.getProperty("env");
        if (this.env == null || this.env.trim().length() == 0) {
            this.env= "dev";
            log.warn("No env provided, using default as \"dev\". eg. -Denv=staging");
            //throw new RuntimeException("Environment name not provided as paramater. eg. -Denv=dev");
        }
    }

    protected final void thenVerifyResponseCode(int code) {
        assertThat(getResponse().getStatusCode(), is(code));
    }

    protected final void thenVerifyResponseContentType(String produces) {
        assertThat(getResponse().getContentType(), containsString(produces));
    }

    protected final void thenVerifyResponseBody() {
        try {
            if (StringUtils.isBlank(getResponseBody())) {
                assertTrue(StringUtils.isBlank(response.asString()));
            } else {
                if (ContentType.JSON.matches(getProduces())) {
                    JSONAssert.assertEquals(getResponseBody(), response.asString(), false);
                } else {
                    assertTrue(getResponseBody().equalsIgnoreCase(response.asString()));
                }
            }
        } catch (Exception e) {
            throw new RuntimeException(e);
        }
    }

    protected void isUpAndRunning(String apiName) {

        String protocol = Config.getConfig(getEnv()).getProperty(apiName + ".protocol");
        String host = Config.getConfig(getEnv()).getProperty(apiName + ".host");
        String port = Config.getConfig(getEnv()).getProperty(apiName + ".port");

        setApiName(apiName);
        setProtocol(protocol);
        setHost(host);
        setPort(Integer.parseInt(port));
    }

    protected void isUpAndRunningAtOnPortOverProtocol(String apiName, String host, int port, String protocol){
        setApiName(apiName);
        setProtocol(protocol);
        setHost(host);
        setPort(port);
    }

    public void iPrepareScenarioNumberInGroup(int scenarioNumebr, String groupName) {
        setScenarioNumber(scenarioNumebr);
        setGroupName(groupName);
    }

    public void requestHasHeaderWithNameAndValue(String headerName, String headerValue) {
        getHeaders().put(headerName, headerValue);
    }

    public void pathParamHasValue(String pathParamName, String pathParamValue) {
        getPathParams().put(pathParamName, pathParamValue);
    }

    public void hasAQueryParamWithNameAndValue(String queryParamName, String queryParamValue) {
        getQueryParams().put(queryParamName, queryParamValue);
    }

    public void endpointConsumes(String consumes) {
        setContentType(consumes);
    }

    public void endpointProduces(String produces) {
        setProduces(produces);
    }

    public void iMakeARequestToPath(String requestMethod, String contextPath) throws Throwable {
        setContextPath(contextPath);
        setRequestMethod(Method.valueOf(requestMethod));

        ObjectMapper objectMapper = new ObjectMapper();

        String testCasesStr = IOUtils.resourceToString("/config/test-config.json", StandardCharsets.UTF_8);
        InputJson apiTestConfig = objectMapper.readValue(testCasesStr, InputJson.class);

        if (apiTestConfig.getApiMap().containsKey(getApiName())) {
            Api api = apiTestConfig.getApiMap().get(getApiName());

            Optional<Scenario> optionalScenario = api.getScenarios().parallelStream()
                    .filter(scenario -> scenario.getScenarioNumber() == getScenarioNumber())
                    .findFirst();

            Scenario scenario = optionalScenario.orElseThrow(() -> new RuntimeException("Invalid Scenario Number : " + getApiName() + " " + getScenarioNumber()));
            setScenarioDescription(scenario.getDescription());

           if(scenario.getHasRequestBody()) {
               String requestFileContent =  IOUtils.resourceToString(scenario.getRequestFilePath(), StandardCharsets.UTF_8);
               setRequestBody(requestFileContent);
           }

           if(scenario.getHasResponseBody()) {
               String responseFileContent = IOUtils.resourceToString(scenario.getResponseFilePath(), StandardCharsets.UTF_8);
               //String responseFileContent = FileUtils.readFileToString(new File(scenario.getResponseFilePath()), Charset.forName("UTF-8"));
               setResponseBody(responseFileContent);
           }

        } else {
            throw new RuntimeException("Invalid Api name : " + getApiName());
        }


        assertThat(getApiName(), is(notNullValue()));
        assertThat(getProtocol(), is(notNullValue()));
        assertThat(getHost(), is(notNullValue()));
        assertThat(getPort(), is(notNullValue()));

        if(!"GET".equalsIgnoreCase(requestMethod) && StringUtils.isNotBlank(getRequestBody()) ) {
            assertThat(getContentType(), is(notNullValue()));
            getHeaders().put(CONTENT_TYPE, getContentType());
        }

        RestAssured.baseURI = getProtocol() + "://" + getHost() + ":" + getPort();
        RestAssured.useRelaxedHTTPSValidation();
        setRequestSpecification(RestAssured.given());

        getRequestSpecification().headers(getHeaders());
        getRequestSpecification().pathParams(getPathParams());
        getRequestSpecification().queryParams(getQueryParams());

        getRequestSpecification().log().all();

        log.info("******************Scenario " + getScenarioNumber() + "************************************");
        log.info("URL : " + getRequestMethod() + " " + getProtocol() + "://" + getHost() + ":" + getPort() + getContextPath());
        log.info("Request Body: " + getRequestBody());
        log.info("Path Params : " + getPathParams());
        log.info("Query Params : " + getQueryParams());
        log.info("Headers : " + getHeaders());
        log.info("*****************************************************************************************");

        switch (getRequestMethod()) {
            case GET:
                assertThat("GET request cannot have request body!", getRequestBody(), is(nullValue()));
                setResponse(getRequestSpecification().get(getContextPath()));
                break;
            case POST:
               if (StringUtils.isNotBlank(getRequestBody())) {
                    getRequestSpecification().body(getRequestBody());
               }
               if (getFormDataMap() != null && !getFormDataMap().isEmpty()) {
                   getRequestSpecification().formParams(getFormDataMap());
               }
               if (getFormDataFileMap() != null && !getFormDataFileMap().isEmpty()) {
                   for(String key : getFormDataFileMap().keySet()){
                       getRequestSpecification().multiPart(key, getFormDataFileMap().get(key));
                   }
                }
                setResponse(getRequestSpecification().post(getContextPath()));
                break;
            case DELETE:
                if (StringUtils.isNotBlank(getRequestBody())) {
                    getRequestSpecification().body(getRequestBody());
                }
                setResponse(getRequestSpecification().delete(getContextPath()));
                break;
            case PUT:
                if (StringUtils.isNotBlank(getRequestBody())) {
                    getRequestSpecification().body(getRequestBody());
                }
                setResponse(getRequestSpecification().put(getContextPath()));
                break;
            default:
                throw new RuntimeException("Unknown HTTP Method : " + getRequestMethod());
        }

        log.info("*****************************************************************************************");
        log.info("Response Status: " + getResponse().getStatusLine());
        log.info("Response : " + getResponse().asPrettyString());
        log.info("*****************************************************************************************");
    }

    public void iShouldGetAResponseWithHttpStatusCode(int responseStatus) {
        thenVerifyResponseCode(responseStatus);
    }

    public void iShouldGetAResponseBody() {
        thenVerifyResponseBody();
        thenVerifyResponseContentType(getProduces());
    }
}
