package ${basePackage}.data;

import lombok.Data;

import java.util.List;

/**
 *
 * DO NOT CHANGE THIS FILE or IT WILL GET OVERRIDDEN
 */

@Data
public class Api {

    private String description;
    private List<Environment> environments;
    private List<Scenario> scenarios;
}