package ${basePackage}.data;

import lombok.Data;

/**
 * DO NOT CHANGE THIS FILE or IT WILL GET OVERRIDDEN
 */

@Data
public class Environment {

    private String name;

    private String protocol;
    private String host;
    private int port;
}
