package ${basePackage}.data;

import lombok.Data;

import java.util.HashMap;

/**
 *
 * DO NOT CHANGE THIS FILE or IT WILL GET OVERRIDDEN
 */

@Data
public class InputJson {

    private Config config;
    private ApiMap apiMap;
}
