package ${basePackage}.data;

import lombok.AllArgsConstructor;
import lombok.Data;

/**
 * Created : ${createTimestamp}
 *
 * DO NOT CHANGE THIS FILE or IT WILL GET OVERRIDDEN
 */

@Data
@AllArgsConstructor
public class Pair<K, V> {

    private K key;
    private V value;
}
