package ${basePackage}.runner;

import io.cucumber.testng.AbstractTestNGCucumberTests;
import io.cucumber.testng.CucumberOptions;

/**
 * Created : ${createTimestamp}
 *
 * DO NOT CHANGE THIS FILE or IT WILL GET OVERRIDDEN
 */

@CucumberOptions(
        plugin = {
                "pretty",
                "html:target/cucumber",
                "json:target/cucumber-reports/${apiName}${scenarioNumber}.json",
                "com.aventstack.extentreports.cucumber.adapter.ExtentCucumberAdapter:"
        }
        , glue = "${basePackage}.stepdefs.core.${apiNameLowercase}${scenarioNumber}"
        , features = "src/test/resources/features/${apiName}${scenarioNumber}.feature"
        , monochrome = true
)
public class RunCukeIT${capitalizedApiName}${scenarioNumber} extends AbstractTestNGCucumberTests {

}
